[submodule "Nez"]
	path = Nez
	url = https://github.com/prime31/Nez.git
	
[submodule "BulletMLLib"]
	path = BulletMLLib
	url = https://github.com/kohrabi/BulletMLLib.git
[submodule "LDtkMonogame"]
	path = LDtkMonogame
	url = https://github.com/kohrabi/LDtkMonogame
